<div class="container">
  <div class="page-header">
    <h1>All Articles</h1>
  </div>


  <div>
    <%= link_to "Create Article", new_article_path, :class => 'btn btn-success' %>
  </div>
  <% @articles.each do |article| %>
    <div class="article-list ">
      <h2><%= link_to article.title, article_path(article) %></h2>
      <div class="meta">Posted: <span><%= time_ago_in_words(article.created_at) %> ago</span></div>
      <div class="summary">
        <%=h truncate(article.body, :length => 100) %>
      </div>
      <div class="actions">
        <%= link_to 'Edit', edit_article_path(article), :class => 'btn-sm btn-info' %>
        <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn-sm btn-danger' %>
      </div>
    </div>
  <% end %>
</div>